/* styles/globals.css */

:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --card-background-color: #333333;
  --input-background-color: #444444;
  --input-border-color: #555555;
  --placeholder-color: #bbbbbb;
  --button-background-color: #ffd700;
  --button-text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background-color: #1e1e1e;
  --input-background-color: #333333;
  --input-border-color: #555555;
  --placeholder-color: #bbbbbb;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-image: url("/background.jpg"); /* Add this line */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

h1 {
  text-align: center;
}

label {
  margin-bottom: 0.5rem;
  color: var(--text-color);
}
